body, html {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}
body{
	background-color: gray;
}
main{
	display: flex;
	width: 100%;
	height: 100%;

	align-items: center;
    justify-content: center;
}
main p {
	width: 100%;
	height: 20%;

	font-size: 50px;
	font-family: 'Courier New', Courier, monospace;
	font-weight: bold;

	text-align: center;
	text
}